# Ignore everything in the GaussianSplats3D folder
GaussianSplats3D/*

# Allow the build directory
!GaussianSplats3D/build/

# Ignore everything in the build directory
GaussianSplats3D/build/*

# Allow only the specific file you need
!GaussianSplats3D/build/gaussian-splats-3d.module.min.js

node_modules/

# Ignore everything in the GaussianSplats3D folder
GaussianSplats3D/*

# Allow the build directory
!GaussianSplats3D/build/

# Ignore everything in the build directory
GaussianSplats3D/build/*

# Allow only the specific file you need
!GaussianSplats3D/build/gaussian-splats-3d.module.min.js

*exterior.splat

node_modules